<a href="https://colab.research.google.com/github/thaynabds/UC-CODING-SENAC/blob/main/Coding03_11_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Aprendendo Tuplas 03.11.2025
#Métodos e funções de Tuplas (use 3)
#Tupla   turmas=('Matemática','Geografi','Biologia','Hitória','Lógica')
#Acesso por índice   turmas[0]->'Matemática'    Funciona igual ás listas
#Tentativa de alteração  turmas[1]='Geografia'  XTyppeError: tuplas são imutáveis
dias=('domingo','segunda','terça','quarta','quinta','sexta','sábado')
print(dias[5])

#Imprimindo Elementos de uma Tupla for loop + print
turmas=('Matemática','Geografi','Biologia','Hitória','Lógica') # Added the definition of 'turmas'
for e in turmas:
    print(e)

#Verificando o Tamanho de uma Tupla len()
estudante=('Eduardo','Lucas','Pedro','Miguel','Lucas','Kayo','Rayssa','Ivonalda','Eva')
print(len(estudante))

#Checando por Valores em uma Tupla
estudante=('Eduardo','Lucas','Pedro','Miguel','Lucas','Kayo','Rayssa','Ivonalda','Eva')
print('Gabriel' in estudante)
print(1990 in estudante)
print('Japão' not in estudante)
print('Brasil' not in estudante)

#Deletando a Tupla
loucos=('Eduardo','Lucas','Pedro','Miguel','Lucas','Kayo','Rayssa','Ivonalda','Eva')
del loucos

#Método count()
animais=('Lobo','Tigre','Onça','Golfinho','Gaivota','Lobo','Tigre','Tigre','Tigre')
print(animais.count('Gaivota'))
print(animais.count('Tigre'))
print(animais.count('Lobo'))

#Método index()
animais=('Lobo','Tigre','Onça','Golfinho','Gaivota','Lobo','Tigre','Tigre','Tigre')
print(animais.index('Lobo'))
print(animais.index('Onça'))

#Atualizando Tuplas
linguagens=('Python','Java','C')
print(linguagens)
linguagens[0] = "C++"
x = (1,2)
y = (3,4)
z = x + y
print(z)

sexta
Matemática
Geografi
Biologia
Hitória
Lógica
9
False
False
True
True
1
4
2
0
2
('Python', 'Java', 'C')

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Dicionário professor={'nome','nome'}
professor=[
    {'nome':'Tereza Oliveira','UC':'Coding'},
    {'nome':'Cris Prates','UC':'English'},
    {'nome':'Heloysa Oliveira','UC':'Ética'},
    {'nome':'Danilo Farias','UC':'Banco I'},
    {'nome':'Priscilla Mendes','UC':'GdP e Inovação'},
    {'nome':'Samantha Pimentel','UC':'UI,UdExt'}
]
print(professor)

[{'nome': 'Tereza Oliveira', 'UC': 'Coding'}, {'nome': 'Cris Prates', 'UC': 'English'}, {'nome': 'Heloysa Oliveira', 'UC': 'Ética'}, {'nome': 'Danilo Farias', 'UC': 'Banco I'}, {'nome': 'Priscilla Mendes', 'UC': 'GdP e Inovação'}, {'nome': 'Samantha Pimentel', 'UC': 'UI,UdExt'}]

In [ ]:
print(3 + 2 * 2)

#Observe o código abaixo e corrija o erro:
#idade = input("digite sua idade: ")
#if idade >= 18:
#print("você é maior de idade.")

idade = input("digite sua idade: ")
if idade > = 18:
    print("você é maior de idade.")

SyntaxError: invalid syntax (ipython-input-2254711938.py, line 9)

In [ ]:
idade = input("digite sua idade: ")

if int(idade) >= 18:
    print("você é maior de idade.")

digite sua idade: 77
você é maior de idade.

In [ ]:
#Crie um pequeno código que peça ao usuário dois números e imprima qual é o maior.
numero1 = input('Digite um número: ')
numero2 = input('Digite outro número: ')

if numero1 > numero2:
    print('O 1º número é maior.')
else:
    print('O 2º número é maior.')

Digite um número: 20
Digite outro número: 17
O 1º número é maior.

In [ ]:
numero = int(input("Digite um número: "))

if numero % 2 == 0:
    print("O número é par.")
else:
    print("O número é ímpar.")

Digite um número: 50
O número é par.

In [ ]:
# Anotação: Vamos aprender a concatenar string
primeiro_nome = input("Qual é seu primeiro nome? ")
segundo_nome = input("Qual é seu segundo nome? ")

print(f"Olá, {primeiro_nome} {segundo_nome}. Seja bem-vinda ao lar da insanidade, não se preocupe, logo você será um de nós.")

Qual é seu primeiro nome? Thayná